<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
<div class="top_module">
         <div class="top_text">爬虫与数据分析可视化</div>
        <div class="top_text1">Welcome to my home page, where crawlers and data analysis are available</div>
</div>
<div class="second_module">
<div class="menu">
    <ul>
        <a href="/wz" target="_blank"><li>王者荣耀图片</li></a>
        <a href="/financial" target="_blank"><li>金融数据分析</li></a>
        <a href="/li_video" target="_blank"><li>梨视频爬虫</li></a>
        <a href="/it_home" target="_blank"><li>IT之家</li></a>
        <a href="/movie" target="_blank"><li>豆瓣电影爬虫</li></a>
    </ul>
</div>
    </div>

</body>
</html>